---
layout: default
title: Tally Print
---

{% include header-primary.html %}

<section class="header wrapper">
	<canvas id="demoCanvas" width="500" height="300"></canvas>
<!-- 	<h1>
		<img class="header-img" src="/content/TallyPrint_Lockup_Vert_Color_200pxW.png" alt="Tally Print">
	</h1> -->
	<!-- <h1 class="site-header">Tally Print</h1> -->
	<h2 class="subheader">Coming Soon<span class="subheader--parenth">(ish)</span></h2>
</section>

<section class="about wrapper">
	<h2 class="about__header">What is Tally Print?</h2>
	<p class="about__body">Tally Print is a collection of hand-picked, high-quality works on paper submitted by the creative community &amp; crowdfunded by visual art enthusiasts. Designers, illustrators, and artists submit print work, and we handle the grunt work of printing, processing payments, and logistics &amp; fulfillment.</p>
	<p class="about__body">Tally Print is still in the works. If you’d like to stay up to date, please sign up for our mailing list, and we’ll let you know as soon as we’re up and running.</p>

	{% include mailchimp-signup.html %}

</section>

{% include footer.html %}

<!-- Easel JS -->
<script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
<!-- Placeholder Easel Script -->
<script>
	var stage = new createjs.Stage("demoCanvas");
	var logoOver = new createjs.Container();
	var logoMag = new createjs.Container();
	var logoCyan = new createjs.Container();
	var logoContainer = new createjs.Container();

	var lockup = new createjs.Bitmap("/content/TallyPrint_Lockup_Vert_Color_200pxW.png");
	var lockupContainer = new createjs.Container();

	function init() {

		lockup.regX = 50;
		lockup.regY = 50;
		lockup.scaleX = 1.2;
		lockup.scaleY = 1.2;
		lockup.alpha = 0

		lockupContainer.addChild(lockup);
		lockupContainer.regX = 50;
		lockupContainer.x = 0;
		lockupContainer.y = 0;

		stage.addChild(lockupContainer)
		lockup.x = 250;
		lockup.y = 150;

		stage.update();
		console.log(stage.width);

		createjs.Ticker.on("tick", tick);
		createjs.Ticker.setFPS(30);
	}

	function tick(event) {

		if (lockup.scaleX > 1) {
			lockup.scaleX = lockup.scaleX - 0.05;
		}
		if (lockup.scaleY > 1) {
			lockup.scaleY = lockup.scaleY -0.05;
		}
		if (lockup.alpha < 1) {
			lockup.alpha = lockup.alpha + 0.1;
		}

		stage.update(event);
	}
</script>

{% include reg-marks.html %}
