<section class="feature__wrapper">
	<div class="feature">
		<div class="feature__img-wrapper">
			<img class="feature__img" src="/content/Tally-Print__Feature__Thumb.png" alt="">
		</div>
		<div class="feature__text">
			<p class="feature__label">Featured Print</p>
			<h3 class="feature__title">This is the Title</h3>
			<p class="feature__label feature__artist">By This Artist's Name</p>
			<p class="feature__stats"><span class="feature__stats--em">Time Left&#58; </span>XX Days  /  </span><span class="feature__stats--em">Prints Sold&#58; </span>1,324  /  <span class="feature__stats--em">Sales to Print&#58; </span>XX</p>
			<div class="feature__counter">
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit--full"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
				<span class="feature__counter-unit"></span>
			</div>
			<div class="feature__footer">
				<a href="" class="feature__btn">Buy It</a>
			</div>
		</div>
	</div>
</section>
