/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html,
body { height: 100%; }

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body { text-rendering: optimizeLegibility; }

a,
button,
input {
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h1,
p { margin-bottom: 1em; }

a,
a:hover,
a:visited {
    text-decoration: none;
}

ul,
ol { list-style: none; }
