/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html,
body { height: 100%; }

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 18px Helvetica, Arial, sans-serif;
    background-color: black;
    text-rendering: optimizeLegibility;
}

a,
button,
input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h1,
p { margin-bottom: 1em; }

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

ul,
ol { list-style: none; }
