/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$spacing-unit: 2rem;

$text-color: #333;
$background-color: #fafafa;

$magenta: #ec008c;
$blue: #00aeef;
$light-grey: #eeeeee;

$max-width: 640px;
$text-width: 40rem;
$container: 1240px;
