/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$base-font-family: "inconsolata", Georgia, Times, serif;
$base-font-size: 20px;
$base-font-weight: 500;
$base-line-height: 150%;

$spacing-unit: 2rem;

$text-color: #333;
$background-color: #fafafa;

$magenta: #ec008c;
$blue: #00aeef;
$light-grey: #eeeeee;

$max-width: 640px;
$text-width: 40rem;
